// https://tailwindcss.com/docs/customizing-colors
@mixin light {
  color-scheme: light;
  --c-primary: #0ea5e9;
  --c-primary-hover: #0284c7;
  --c-primary-active: #0369a1;
  --c-primary-contrast: #f8fafc;
  --c-primary-contrast-weak: #cbd5e1; // unused

  --c-text: #020617;
  --c-textSecondary: #475569;

  --c-disabled-bg: #e5e7eb;
  --c-disabled-text: #d1d5db;

  --c-bg: #f1f5f9;
  --c-bg-paper: #cbd5e1cc;
  --c-border: color-mix(in srgb, var(--c-bg-paper), var(--c-text) 45%);

  --c-success: #15803d;
  --c-error: #dc2626;
}

@mixin dark {
  color-scheme: dark;
  --c-primary: #bae6fd;
  --c-primary-hover: #7dd3fc;
  --c-primary-active: #38bdf8;
  --c-primary-contrast: #0f172acc;
  --c-primary-contrast-weak: #1e293b; // unused

  --c-text: #f8fafc;
  --c-textSecondary: #94a3b8;
  --c-border: color-mix(in srgb, var(--c-bg-paper), var(--c-text) 45%);

  --c-disabled-bg: #6b7280;
  --c-disabled-text: #4b5563;

  --c-bg: #0f172a;
  --c-bg-paper: #1e293bcc;

  --c-success: #86efac;
  --c-error: #f87171;
}

html {
  @include dark;

  &.theme-light {
    @include light;
  }
}
