$layer-1: 10;
$layer-2: 20;
$layer-3: 30;
$layer-4: 40;
$layer-5: 50;
$layer-6: 60;
$layer-navbar: 1000;
$layer-modal: 1010; // when radix ui dialog is removed lib, remove this

$containerWidth: 1000px;

@mixin container($width: $containerWidth) {
  // max-width had problem with child grid wanting to use 100% of parent
  width: min(calc(100vw - 32px), $width);
  margin: 0 auto;
  padding: 16px;
}

@mixin button-states {
  &:global(.active) {
    outline: 2px solid var(--c-primary-active);
    text-decoration: underline;
  }

  &:hover,
  &:focus-visible {
    border-color: var(--c-primary-hover);
    background-color: var(--c-primary-hover);
  }

  &:active {
    border-color: var(--c-primary-active);
    background-color: var(--c-primary-active);
  }

  &[aria-disabled="true"],
  &[disabled],
  &[data-disabled] {
    cursor: auto;
    pointer-events: none;
    color: var(--c-disabled-text);
    background-color: var(--c-disabled-bg);
    border-color: var(--c-disabled-bg);
  }
}
